{{#get "posts" filter="featured:true" include="tags,excerpt" limit="all" as |featured|}}
    {{#if featured}}
        <section class="featured-wrapper container">
            <div class="featured-feed glide">
                {{#if @custom.featured_title}}
                    <h2 class="featured-title">{{@custom.featured_title}}</h2>
                {{/if}}
                <div data-glide-el="controls" style="position: absolute; top: -10px; right: 0px">
                    <button data-glide-dir="<" type="button" role="presentation" class="border border-gray-300 py-2 px-2 rounded" >
                        <svg class="icon">
                            <use xlink:href="#chevron-left"></use>
                        </svg>
                    </button>
                    <button data-glide-dir=">" type="button" role="presentation" class="border border-gray-300 py-2 px-2 rounded">
                        <svg class="icon">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </button>
                </div>
                <div class="glide__track featured-track rounded-lg ring-gray-900/5 shadow-featured-article m-auto w-full max-w-2xl md:max-w-full lg:h-full hover:shadow-md hover:border-opacity-0 transform hover:-translate-y-1 transition-all duration-200" data-glide-el="track">
                    <div class="glide__slides">
                        {{#foreach featured}}
                            <article class="{{post_class}} relative glide__slide">
                                <div class="slide-content">
                                    {{#if feature_image}}
                                        <div class="slide-image u-placeholder horizontal">
                                            <img class="lazyload u-object-fit" data-srcset="{{> srcset}}" data-sizes="auto" src="{{img_url feature_image size="
                                                m"}}" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="{{title}}">
                                        </div>
                                    {{/if}}
                                    <div class="slide-details">
                                        <div>
                                            {{#foreach tags from="1"}}
                                            <span class="text-xl inline-flex items-center font-bold 
                                                                            leading-sm px-4 py-2 my-1 rounded-full 
                                                                            bg-brand-light text-gray-800 tag-element">
                                                <a class="post-tag post-tag-{{slug}}" href="{{url}}">{{name}}</a>
                                            </span>
                                            {{/foreach}}
                                        </div>
                                        <h3 class="post-title">{{title}}</h3>
                                        <p>{{excerpt}}</p>
                                        <a class="u-permalink" href={{url}} aria-label="{{title}}"></a>
                                    </div>
                                </div>                           
                            </article>
                        {{/foreach}}
                    </div>
                </div>
            </div>
            
        </section>
    {{/if}}
{{/get}}
