<article class="feed-card {{post_class}} rounded-lg ring-1 ring-gray-900/5 shadow-xl m-auto w-full max-w-2xl md:max-w-full lg:h-full hover:shadow-md hover:border-opacity-0 transform hover:-translate-y-1 transition-all duration-200">
    <div onclick="location.href='{{url}}'" class="flex flex-col cursor-pointer h-full rounded-xl overflow-hidden md:flex-row md:h-80 lg:flex-col lg:h-full">
        {{#if feature_image}}
        <img class="object-cover m-0 h-full md:aspect-[9/5] lg:h-auto lg:aspect-[15/8]" src="{{img_url feature_image}}" alt="{{title}}" />
        {{else}} {{!-- Placeholder --}}
        <img class="object-cover m-0 hidden h-48 md:aspect-[9/5] lg:aspect-[15/8]" src="https://via.placeholder.com/100/FFFFFF/FFFFFF" alt="{{title}}" />
        {{/if}}
        <div class="grow bg-white px-3 pt-3 pb-5 relative">
            {{#if primary_tag}}
                {{#primary_tag}}
                    <span class="single-meta-item single-meta-tag">
                        <a class="post-tag post-tag-{{slug}} text-lg uppercase font-extrabold" href="{{url}}">
                            {{name}}
                        </a>
                    </span>
                {{/primary_tag}}
            {{else}} 
                <a class="text-lg uppercase font-extrabold">[No tag]</a>
            {{/if}}
            <p class="text-2xl font-bold my-2">{{title}}</p>
            <p class="text-xl my-1 line-clamp-4">{{excerpt}}</p>
            <div class="h-8"></div>
            <div class="text-xl absolute right-4 bottom-4">
                <i class="far fa-clock"></i>
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date published_at format="D MMM YYYY"}}</time>
            </div>
        </div>
    </div>
</article>
