<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Mulish:ital,wght@0,400;0,700;0,800;1,400;1,700&display=swap">
    <script src="https://kit.fontawesome.com/c5d20f06dc.js" crossorigin="anonymous"></script>

    <script>
        var siteUrl = '{{@site.url}}';
        {{#if @custom.content_api_key_for_search}}
            var gh_search_key = '{{@custom.content_api_key_for_search}}';
        {{/if}}
    </script>

    {{ghost_head}}
</head>

<body class="{{body_class}}{{{block "body_class"}}}{{#match @custom.title_font "=" "Elegant serif"}} has-serif-title{{/match}}{{#match @custom.body_font "=" "Elegant serif"}} has-serif-body{{/match}}">
    {{> icons}}

    <div class="site">
        {{> header}}
        {{#is "home"}}
            {{#if @custom.show_featured_posts}}
                {{> featured}}
            {{/if}}
        {{/is}}
        <div class="site-content">
            {{{body}}}
        </div>
        <section class="partners-wrapper container">
            <div class="partners-feed glide">
                <h2 class="featured-title">Our Partners</h2>
                <div data-glide-el="controls" style="position: absolute; top: -10px; right: 0px">
                    <button data-glide-dir="<" type="button" role="presentation" class="border border-gray-300 py-2 px-2 rounded" >
                        <svg class="icon">
                            <use xlink:href="#chevron-left"></use>
                        </svg>
                    </button>
                    <button data-glide-dir=">" type="button" role="presentation" class="border border-gray-300 py-2 px-2 rounded">
                        <svg class="icon">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </button>
                </div>
                <div class="glide__track" data-glide-el="track">
                    <div class="glide__slides">
                        <div class="glide__slide">
                            <img class="h-48 m-auto" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2018/06/Inspirit.jpg?&ssl=1">
                        </div>
                        <div class="glide__slide">
                            <img class="h-48 m-auto" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2018/06/NYC.jpg?&ssl=1">
                        </div>
                        <div class="glide__slide">
                            <img class="h-48 m-auto" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2018/06/YCS.jpg?&ssl=1">
                        </div>
                        <div class="glide__slide">
                            <img class="h-48 m-auto" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2018/06/YoungNTUC.jpg?&ssl=1">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="featuredby-wrapper container">
            <div class="featuredby-feed glide">
                <h2 class="featured-title">Featured By</h2>
                <div data-glide-el="controls" style="position: absolute; top: -10px; right: 0px">
                    <button data-glide-dir="<" type="button" role="presentation" class="border border-gray-300 py-2 px-2 rounded" >
                        <svg class="icon">
                            <use xlink:href="#chevron-left"></use>
                        </svg>
                    </button>
                    <button data-glide-dir=">" type="button" role="presentation" class="border border-gray-300 py-2 px-2 rounded">
                        <svg class="icon">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </button>
                </div>
                <div class="glide__track" data-glide-el="track">
                    <div class="glide__slides">
                        <div class="glide__slide">
                            <img class="h-40 m-auto align-middle" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2018/11/CNA.png?ssl=1">
                        </div>
                        <div class="glide__slide">
                            <img class="h-40 m-auto align-middle" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2018/11/QYL.jpg?ssl=1">
                        </div>
                        <div class="glide__slide">
                            <img class="h-40 m-auto align-middle" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2018/11/TSL-Singapore.png?ssl=1">
                        </div>
                        <div class="glide__slide">
                            <img class="h-40 m-auto align-middle" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2018/11/QCT-PNG.png?ssl=1">
                        </div>
                        <div class="glide__slide">
                            <img class="h-40 m-auto align-middle" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2018/11/Rice.png?ssl=1">
                        </div>
                        <div class="glide__slide">
                            <img class="h-40 m-auto" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2018/11/YouthSG.jpg?ssl=1">
                        </div>
                        <div class="glide__slide">
                            <img class="h-40 m-auto align-middle" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2018/11/Lianhe-Zaobao.png?ssl=1">                        
                        </div>
                        <div class="glide__slide">
                            <img class="h-40 m-auto align-middle" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2018/11/Lianhe-Wanbao-1.jpg?ssl=1">
                        </div>
                        <div class="glide__slide">
                            <img class="h-40 m-auto align-middle" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2018/11/MoS.jpg?ssl=1">
                        </div>
                        <div class="glide__slide">
                            <img class="h-40 m-auto align-middle" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2019/11/Rhodes.jpg?ssl=1">
                        </div>
                        <div class="glide__slide">
                            <img class="h-40 m-auto align-middle" src="https://i0.wp.com/advisory.sg/wp-content/uploads/2019/11/National_University_of_Singapore_logo_NUS.png?ssl=1">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{> footer}}
        {{> modal}}
        {{> pswp}}
    </div>

    <script src="{{asset "built/main.js"}}"></script>

    {{ghost_foot}}
</body>

</html>
