<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{{block "title"}}}</title>
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Mulish:ital,wght@0,400;0,700;0,800;1,400;1,700&display=swap">
    <script src="https://kit.fontawesome.com/c5d20f06dc.js" crossorigin="anonymous"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EHJMJETVTP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-EHJMJETVTP');
    </script>
    <script async src="https://umami.advisory.sg/script.js" data-website-id="37d8c230-fa84-47bd-884c-432ba2b3696a"></script>

    <script>
        var siteUrl = '{{@site.url}}';
    </script>

    {{ghost_head}}
</head>

<body class="{{body_class}}{{{block "body_class"}}}{{#match @custom.title_font "=" "Elegant serif"}} has-serif-title{{/match}}{{#match @custom.body_font "=" "Elegant serif"}} has-serif-body{{/match}}">
    {{> icons}}

    <div class="site">
        {{> header}}
        <div class="site-content">
            {{{body}}}
        </div>
        {{> footer}}
        {{> modal}}
    </div>

    <script src="{{asset "built/main.js"}}"></script>

    {{ghost_foot}}
</body>

</html>
